trigger:
- master

variables:
  ANNDATA_DEV: no
  RUN_COVERAGE: no

jobs:
- job: PyTest
  pool:
    vmImage: 'ubuntu-18.04'
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python36:
        python.version: '3.6'
      anndata_dev:
        python.version: '3.8'
        ANNDATA_DEV: yes
        RUN_COVERAGE: yes
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      export MPLBACKEND="agg"
      echo $MPLBACKEND
    displayName: 'Set env'

  - script: |
      python -m pip install --upgrade pip
      pip install pytest-cov wheel
      pip install -e .[dev,doc,test,louvain,leiden,magic,scvi,harmony,scrublet,scanorama]
    displayName: 'Install dependencies'

  - script: |
      pip install -v git+https://github.com/theislab/anndata
    displayName: 'Install development anndata'
    condition: eq(variables['ANNDATA_DEV'], 'yes')

  - script: |
      pip list
    displayName: 'Display installed versions'

  - script: |
      pip install black
      black . --check --diff
      python -m scanpy.tests.blackdiff 10
    displayName: 'Black'

  - script: |
      pytest --color=yes --ignore=scanpy/tests/_images --junitxml=junit/test-results.xml
    displayName: 'PyTest'
    condition: eq(variables['RUN_COVERAGE'], 'no')

  - script: |
      pytest --color=yes --ignore=scanpy/tests/_images --junitxml=junit/test-results.xml --cov=scanpy --cov-report=xml
    displayName: 'PyTest (coverage)'
    condition: eq(variables['RUN_COVERAGE'], 'yes')

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
    condition: eq(variables['RUN_COVERAGE'], 'yes')

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: 'junit/test-*.xml'
      testRunTitle: 'Publish test results for Python $(python.version)'

- job: CheckBuild
  pool:
    vmImage: 'ubuntu-18.04'
  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.8'
    displayName: 'Use Python 3.8'

  - script: |
      python -m pip install --upgrade pip
      pip install setuptools setuptools_scm pytoml wheel twine
    displayName: 'Install build dependencies'

  - script: pip list
    displayName: 'Display installed versions'

  - script: |
      python setup.py sdist bdist_wheel
      twine check dist/*
    displayName: 'Build & Twine check'
