# Scanpy
.pytest_cache/
.scanpy
.coverage
cache/
coverage.xml
test.h5
test_compr.h5
test_no_compr.h5
docs/_build
docs/api/scanpy.api.*
archive/
data/
figs/
*/figs*/
write/
./examples/
scanpy.egg-info/
scanpy_user/
scanpy_save/
scanpy_later/
scripts_test/
thirdp/
test.py
README.html
scripts/
test_notebooks.txt
upload_to_pypi.sh

# private files
scanpy/examples/builtin_private.py
scanpy/tools/paths.py
scanpy/tools/tgdyn.py
scanpy/tools/tgdyn_simple.py
scripts/paths.py
scripts/test_private.sh
scripts/tgdyn.py
scripts/tgdyn_simple.py


# always-ignore extensions
*~

# Python / Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*.so
.cache

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/

# always-ignore directories
/dist/
/build/
