repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.9
    hooks:
    -   id: ruff
        types_or: [python, pyi, jupyter]
        args: ["--fix"]
    -   id: ruff-format
        types_or: [python, pyi, jupyter]
    # The following can be removed once PLR0917 is out of preview
    -   name: ruff preview rules
        id: ruff
        types_or: [python, pyi, jupyter]
        args: ["--preview", "--select=PLR0917"]
-   repo: https://github.com/flying-sheep/bibfmt
    rev: v4.3.0
    hooks:
    -   id: bibfmt
        args:
        - --sort-by-bibkey
        - --drop=abstract
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: tests/_data
    -   id: end-of-file-fixer
        exclude: tests/_data
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: no-commit-to-branch
        args: ["--branch=main"]

ci:
    autofix_prs: false
