dist: xenial
language: python
matrix:
  include:
    - name: "static analysis"
      python: "3.7"
      script:
        - black . --check --diff
        - python -m scanpy.tests.blackdiff 10
      after_success: skip
    - name: "anndata dev"
      python: "3.7"
      install:
        - pip install docutils sphinx
        - pip install -e .[test,louvain,leiden,magic,scvi]
        # also test new umap. remove once umap 0.4+ is used by other runs as well
        - pip install umap-learn>=0.4 git+https://github.com/theislab/anndata
python:
  - '3.6'
  - '3.7'
  #- '3.8-dev' # https://github.com/numpy/numpy/issues/13790
cache:
  - pip
  - directories: data
install:
  - pip install docutils sphinx
  - pip install -e .[test,louvain,leiden,magic,scvi]
env:
  - MPLBACKEND=Agg
script:
  - pytest --ignore=scanpy/tests/_images
  - python setup.py check --restructuredtext --strict
  - rst2html.py --halt=2 README.rst >/dev/null
