language: python
python:
  - "3.5"
  - "3.6"
install: source .travis_install.sh
env:
  - MPLBACKEND=Agg
script:
  - pytest --ignore=scanpy/tests/_images
  - python setup.py check --restructuredtext --strict
  - rst2html.py --halt=2 README.rst >/dev/null
