[envs.default]
installer = "uv"
dependency-groups = [ "dev" ]

[envs.docs]
dependency-groups = [ "doc" ]
# MyST-NB 1.3.0 spams the doc build logs making debugging hard, so use https://github.com/executablebooks/MyST-NB/pull/704
extra-dependencies = [
    "pandas>=3",
    "myst-nb @ git+https://github.com/executablebooks/MyST-NB.git@91273a686c66fd0383466c80eede61b208d7e426",
]
scripts.build = "sphinx-build -M html docs docs/_build -W {args}"
scripts.open = "python3 -m webbrowser -t docs/_build/html/index.html"
scripts.clean = "git clean -fdX -- {args:docs}"

[envs.towncrier]
scripts.create = "towncrier create {args}"
scripts.build = "python3 ci/scripts/towncrier_automation.py {args}"
scripts.clean = "git restore --source=HEAD --staged --worktree -- docs/release-notes"

[envs.hatch-test]
python = "3.14"
default-args = [  ]
dependency-groups = [ "dev", "test-min" ]
extra-dependencies = [ "ipykernel" ]
overrides.matrix.deps.env-vars = [
    { if = [ "pre" ], key = "UV_PRERELEASE", value = "allow" },
    { if = [ "low-vers" ], key = "UV_CONSTRAINT", value = "ci/scanpy-low-vers.txt" },
]
overrides.matrix.deps.pre-install-commands = [
    { if = [
        "low-vers",
    ], value = "uv run ci/scripts/low-vers.py pyproject.toml --all-extras --groups=test -o ci/scanpy-low-vers.txt" },
]
overrides.matrix.deps.python = [
    { if = [ "low-vers" ], value = "3.12" },
]
overrides.matrix.deps.extra-dependencies = [
    { if = [ "stable" ], value = "scipy>=1.17" },
    { if = [ "pre" ], value = "anndata @ git+https://github.com/scverse/anndata.git" },
    { if = [ "pre" ], value = "pandas>=3rc0" },
]
overrides.matrix.deps.dependency-groups = [
    { if = [ "stable", "pre", "low-vers" ], value = "test" },
]

[[envs.hatch-test.matrix]]
deps = [ "stable", "pre", "low-vers", "few-extras" ]
