[build-system]
build-backend = "hatchling.build"
requires = ["hatchling", "hatch-vcs"]

[project]
name = "scoop"
description = ""
requires-python = ">=3.9"
license = "BSD-3-clause"
authors = [
    {name = "Benamad Kader Houssein"},
    {name = "Abdou Khadre Djeylani Diouf"},
]
readme = "README.md"
]
dynamic = ["version"]

[project.urls]
Reposityory = "https://github.com/kaderhoussein/scoop"


]

doc = [
    "sphinx>=7",
    "sphinx-book-theme>=1.1.0",
    "scanpydoc>=0.13.4",
    "sphinx-autodoc-typehints>=1.25.2",
    "myst-parser>=2",
    "myst-nb>=1",
    "sphinx-design",
    "readthedocs-sphinx-search",
    "sphinxext-opengraph", # for nice cards when sharing on social
    "sphinx-copybutton",
    "nbsphinx>=0.9",
    "ipython>=7.20",  # for nbsphinx code highlighting
    "matplotlib!=3.6.1",
    # TODO: remove necessity for being able to import doc-linked classes
    "dask",
    "scanpy[paga]",
    "sam-algorithm",
]
dev = [
    "pre-commit",
]


[tool.hatch.build]
exclude = ["scoop/tests"]
[tool.hatch.version]
source = "vcs"
[tool.hatch.build.hooks.vcs]



