matplotlib>=2
pandas
scipy
# neat visualizations
seaborn
# use memory optimally
psutil
# hdf5/xls file IO
h5py
xlrd
# standard machine-learning algorithms
scikit-learn
# standard statistical models
statsmodels
# complex systems and graphs
networkx
# natural human-readable sorting
natsort
# simple parallel computing
joblib
# profiling
profilehooks
