<<<<<<< HEAD
.noteversion {
    font-size:70%;
}

.noteversion:after {
    content: "/";
}

.small {
    font-size:40%;
}

.smaller {
    font-size:70%;
}

.rst-content dl:not(.docutils) tt.xref, .rst-content dl:not(.docutils) code.xref {
    font-weight: bold;  /* restore bold for hyperref literals */
}

.rst-content dl:not(.docutils) tt, .rst-content dl:not(.docutils) code {
    font-weight: normal;  /* ovewrite bold for default literals */
}

.rst-content dl:not(.docutils) dl dt {
    /* mimick numpydoc’s blockquote style */
    font-weight: normal;
=======
/* ReadTheDocs theme colors */


.wy-nav-top { background-color: #f07e44 }
.wy-side-nav-search { background-color: transparent }
.wy-side-nav-search input[type="text"] { border-width: 0 }


/* Custom classes */


.small { font-size:40% }
.smaller, .pr, .noteversion { font-size:70% }
.noteversion::after { content: "/" }


/* Code: literals and links */


.rst-content tt.literal,
.rst-content code.literal {
    color: #404040;
}
/* slim font weight for non-link code */
.rst-content tt:not(.xref),
.rst-content code:not(.xref),
.rst-content *:not(a) > tt.xref,
.rst-content *:not(a) > code.xref {
    font-weight: normal;
}
.rst-content a > tt.xref,
.rst-content a > code.xref {
    text-decoration: underline;
}


/* Just one box for annotation code for a less noisy look */


.rst-content .annotation {
    padding: 2px 5px;
    background-color: white;
    border: 1px solid #e1e4e5;
}
.rst-content .annotation tt,
.rst-content .annotation code {
    padding: 0 0;
    background-color: transparent;
    border: 0 solid transparent;
}


/* Parameter lists */


/* Mimick rubric style used for other headings */
/* TODO: once scanpydoc adds classes, also change return types like this */
.rst-content dl:not(.docutils) dl > dt {
    font-weight: bold;
>>>>>>> upstream/master
    background: none transparent;
    border-left: none;
    margin: 0 0 12px;
    padding: 3px 0 0;
    font-size: 111.11%;
}
<<<<<<< HEAD

/* No narrow parameter lists for plot functions with images */
.rst-content .docutils.field-list {
    clear: right;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #404040;
}
=======
/* Parameters contain <strong> parts and don’t need bold font */
.rst-content dl.field-list dl > dt { font-weight: unset }
/* Add colon between return tuple element name and type */
.rst-content dl:not(.docutils) dl > dt .classifier::before { content: ' : ' }
>>>>>>> upstream/master
