.noteversion {
    font-size:70%;
}

.noteversion:after {
    content: "/";
}

.small {
    font-size:40%;
}

.smaller {
    font-size:70%;
}

.pr {
    font-size:70%;
}

.rst-content dl:not(.docutils) tt.xref, .rst-content dl:not(.docutils) code.xref {
    font-weight: bold;  /* restore bold for hyperref literals */
}

.rst-content dl:not(.docutils) tt, .rst-content dl:not(.docutils) code {
    font-weight: normal;  /* ovewrite bold for default literals */
}

.rst-content dl:not(.docutils) dl dt {
    /* mimic rubric style used for other headings  */
    font-weight: bold;
    font-size: 16px;
    background: none transparent;
    border-left: none;
    margin: 0 0 12px;
    padding: 3px 0 0;
}

.rst-content p.rubric {
    font-weight: bold;
    font-size: 16px;
    background: none transparent;
    border-left: none;
    margin: 0 0 12px;
    padding: 3px 0 0;
}

.rst-content dl:not(.docutils) dl dt .classifier::before {
    content: ' : ';
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #404040;
}
